* {
    box-sizing: border-box; 
    font-family: monospace;
}

#container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    background-color: midnightblue;
}

.row,
.double {
    display: flex;
    flex: 1 1 0;
    gap: 2px;
}

.row > .btn,
.displayRow > div,
.double > .btn {
    display: flex;
    flex: 1 1 0;
    border: 1px solid black;
    background-color: white;
    font-size: 300%;
}

.displayRow > div {
    border: 3px solid black;
}

.double {
    display: flex;
    flex-direction: column;
    font-size: 50%;
    border: 1px solid black;
}

span,
i { 
    margin: auto;
}

.displayRow {
    padding: 30px 20px;
}

#display {
    margin-left: auto;
    margin-right: 0;
    padding: 5px;
    font-size: 120%;
}

